.list {
	list-style-type: none;
	padding: 10px 0 10px 0px;
	margin: 0 10px 10px 10px;

	&__item {
		display: block;
		min-width: 120px;
		text-align: center;
		padding: 5px 10px;
		margin-bottom: 12px;
		border: 1px solid #26262A;
		color: #000;
		border-radius: 2px;
		background-color: transparent;

		&:hover {
			cursor: pointer;
			border: 1px solid #fff;
			background-color: #26262A;
			color: #fff;
		}
	}
}

@include media-query('tablet-sml') {
	.list {
		padding: 10px 0 30px 13px;

		&__item {
			display: inline-block;
		}
	}
}
